<section id="about" class="about">
    <div class="about__inner">
        <h1 class="about__title">Про меня</h1>
        <p class="about__text">
            Привет, я Fullstack JavaScript разработчик. Мой опыт работы 2 года⏳. <br>

            При работе над проектом я изучаю новые технологии 📚 и подробно обсуждаю техническое задание 📞. <br>

            При ведении разработки я придерживаюсь современных best practises 👌, использую code linters и оставляю
            комментари , чтобы достичь максимального качества кода 👍.
            <br>

            Разрабатываю web приложения и верстку любой сложности. ⚓ <br>

            🔥🔥🔥 Я предоставляю абсолютно бесплатные консультации по теме веб разработки 🔥🔥🔥 <br>
            <a class="about__link" href="#contact">Просто напишите мне.</a>
        </p>
    </div>
</section>
