<section class="offer offer--large">
  <div class="offer__inner">
    <%- include('../stat/stat.ejs', { name: "Довольных клиентов", number: 95, icon: "icon-1.png", numberAppend: "%"})%>
    <%- include('../stat/stat.ejs', { name: "Завершенных проэктов", number: 10, icon: "icon-1.png", numberAppend: ""})%>
    <%- include('../stat/stat.ejs', { name: "Пройденных курсов", number: 7, icon: "icon-1.png", numberAppend: ""})%>
    <%- include('../stat/stat.ejs', { name: "Строк кода", number: 20000, icon: "icon-1.png", numberAppend: ""})%>
  </div>
</section>
