<section class="offer offer--large">
  <div class="offer__inner">
    <%- include('../stat/stat.ejs', { name: "Happy customers", number: 95, icon: "icon-2.png", numberAppend: "%"})%>
    <%- include('../stat/stat.ejs', { name: "Completed projects", number: 10, icon: "icon-4.png", numberAppend: ""})%>
    <%- include('../stat/stat.ejs', { name: "Completed courses", number: 7, icon: "icon-1.png", numberAppend: ""})%>
    <%- include('../stat/stat.ejs', { name: "Code Lines", number: 20000, icon: "icon-3.png", numberAppend: ""})%>
  </div>
</section>
