.portfolio-title {
  padding: 65px 0 40px;

  &__inner {
    @extend %container;
  }

  &__title {
    font-family: Raleway, sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: rgb(178, 172, 162);
    text-align: center;

    @include adaptiv-font(42, 24);
  }
}
