<p class="input">
    <% const id = Math.random()%>
    <label class="input__label" for="<%= id%>"><%= label || ''%></label>
    <input name="<%= name%>" class="input__input" id="<%= id%>" type="text">
</p>
