<section id="contact" class="contact">
    <h2 class="contact__title">Связаться</h2>
    <div class="contact__inner">
        <div class="contact__form">
            <form name="contact">
                <div data-field="name" class="contact__error"></div>
                <%- include('../input/input.ejs', {label: "Ваше имя", name: "name"}) %>
                <div data-field="email" class="contact__error"></div>
                <%- include('../input/input.ejs', {label: "Email", name: "email"}) %>
                <div data-field="message" class="contact__error"></div>
                <%- include('../textarea/textarea.ejs', {label: "Сообщение", name: "message"}) %>
                <div class="contact__button">
                    <%- include('../button/button.ejs', {text: "Отправить"}) %>
                    <img class="contact__loader" src="../../images/ajax-loader.gif" alt="loader">
                    <p class="contact__success">Сообщение отправлено</p>
                </div>
            </form>
        </div>
        <div class="contact__content">
            <div class="contact__row">
                <div class="contact__wrapper">
                    <h3 class="contact__name">Email</h3>
                    <a href="mailto:zipper123915.work@gmail.com" class="contact__value">zipper123915.work@gmail.com</a>
                </div>
                <div class="contact__wrapper">
                    <h3 class="contact__name">Социальные сети</h3>
                    <ul class="contact__value">
                        <li class="contact__social">
                            <a target="_blank" href="https://github.com/zipper123915">
                                <img src="../../images/svg/github-1288230.svg" alt="github">
                            </a>
                        </li>
                        <li class="contact__social">
                            <a target="_blank" href="https://discordapp.com/users/398433208070307842">
                                <img src="../../images/svg/discord-2056055.svg" alt="discord">
                            </a>
                        </li>
                        <li class="contact__social">
                            <a target="_blank" href="https://t.me/Zipper123915">
                                <img src="../../images/svg/telegram-1408698.svg" alt="telegram">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="contact__row">
                <h3 class="contact__name"></h3>
                <p class="contact__value"></p>
            </div>
        </div>
    </div>
</section>
