<section id="hero" class="hero hero--without-slider" style="background-image: url('images/hero-bg-0.png')">
    <div class="hero__overlay"></div>
    <div class="hero__inner">
        <div class="hero__slide">
            <h1 class="hero__title">Разработка сайтов для бизнеса</h1>
            <h3 class="hero__lead">Бесплатные консультации на любые темы касающиеся web разработки</h3>
        </div>
    </div>
</section>
