<section id="hero" class="hero hero--without-slider" style="background-image: url('images/hero-bg-0.png')">
    <div class="hero__overlay"></div>
    <div class="hero__inner">
        <div class="hero__slide">
            <h1 class="hero__title">Do you need FullStack JavaScript developer?</h1>
            <h3 class="hero__lead">A developer who explains everything clearly, follows the deadlines, performs his work qualitatively </h3>
        </div>
    </div>
</section>
