<div class="textarea">
    <% const id = Math.random()%>
    <label for="<%= id%>" class="textarea__label"><%= label%></label>
    <textarea name="<%= name%>" id="<%= id%>" rows="10" class="textarea__textarea"></textarea>
</div>
