<section id="portfolio" class="portfolio">
  <div class="portfolio__inner">
    <div class="portfolio__desc">
      <h2 class="portfolio__title">Портфолио</h2>
    </div>
    <div class="portfolio__tabs">
      <div data-tag="all" class="portfolio__tab portfolio__tab--active">All</div>
      <div data-tag="layout" class="portfolio__tab">Layout</div>
      <div data-tag="fullstack" class="portfolio__tab">FullStack</div>
      <div data-tag="spa" class="portfolio__tab">SPA</div>
      <div data-tag="js" class="portfolio__tab">JavaScript</div>
    </div>
    <div class="portfolio__wrapper">
      <div data-tag="layout" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/Cat.png" alt="phone">
          <div class="portfolio__overlay">
            <a target="_blank" href="https://zipper123915.github.io/catEnergy/dist/" class="portfolio__link" title="link"></a>
            <a class="portfolio__all" href="cat.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Cat's food site</h3>
          <div class="portfolio__card-text">Gulp, SCSS</div>
        </div>
      </div>
      <div data-tag="spa" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/SportTimer.png" alt="page">
          <div class="portfolio__overlay">
            <a target="_blank" href="https://relaxed-goldberg-9a32c5.netlify.app/" class="portfolio__link" title="link"></a>
            <a class="portfolio__all" href="timer.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Training app</h3>
          <div class="portfolio__card-text">Webpack, Vue.js</div>
        </div>
      </div>
      <div data-tag="layout" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/pink.png" alt="some">
          <div class="portfolio__overlay">
            <a target="_blank" href="https://zipper123915.github.io/Pink/dist/" class="portfolio__link" title="link"></a>
            <a class="portfolio__all" href="pink.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Site for mobile app</h3>
          <div class="portfolio__card-text">HTML, JS</div>
        </div>
      </div>
      <div data-tag="fullstack" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/anon.png" alt="sometoo">
          <div class="portfolio__overlay">
            <a class="portfolio__link" target="_blank" href="https://anonomist-chat-client.web.app/choose" title="link"></a>
            <a class="portfolio__all" href="anonomist.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Anonymous chat for dating</h3>
          <div class="portfolio__card-text">Node.js, Socket.io</div>
        </div>
      </div>
      <div data-tag="fullstack" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/2ch.png" alt="alt">
          <div class="portfolio__overlay">
            <a target="_blank" href="https://ch-client-27b58.web.app/" class="portfolio__link" title="link"></a>
            <a class="portfolio__all" href="2ch.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Clone of popular forum</h3>
          <div class="portfolio__card-text">MongoDb, Node.js, Vue.js</div>
        </div>
      </div>
      <div data-tag="spa" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/balance.png" alt="sometoo">
          <div class="portfolio__overlay">
            <a target="_blank" href="https://confident-leavitt-4f9344.netlify.app/" class="portfolio__link" title="link"></a>
            <a class="portfolio__all" href="budget.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Budget app</h3>
          <div class="portfolio__card-text">Vue.js</div>
        </div>
      </div>
      <div data-tag="js" class="portfolio__card">
        <div class="portfolio__img">
          <img src="../../images/ToDoList.png" alt="alt">
          <div class="portfolio__overlay">
            <a target="_blank" href="https://zipper123915.github.io/todo" class="portfolio__link" title="link"></a>
            <a class="portfolio__all" href="todo.html" title="project page"></a>
          </div>
        </div>
        <div class="portfolio__content">
          <h3 class="portfolio__card-title">Todo list</h3>
          <div class="portfolio__card-text">Vanila JavaScript</div>
        </div>
      </div>
    </div>
  </div>
</section>
