<section id="services" class="service">
  <ul class="service__inner">
    <li data-index="0" class="service__item">
      <div class="service__icon">
        <img width="40" height="40" src="../../images/window.png" alt="pen">
      </div>
      <h3 class="service__title">Layout</h3>
      <p class="service__text">Convert from PSD and FIGMA to code</p>
    </li>
    <li data-index="1" class="service__item">
      <div class="service__icon">
        <img width="40" height="40" src="../../images/node-js.png" alt="stack">
      </div>
      <h3 class="service__title">API development</h3>
      <p class="service__text">Create MVC, REST api and websocket development</p>
    </li>
    <li data-index="2" class="service__item">
      <div class="service__icon">
        <img width="40" height="40" src="../../images/vue-icon.png" alt="settings">
      </div>
      <h3 class="service__title">SPA</h3>
      <p class="service__text">Create single page application</p>
    </li>
    <li data-index="3" class="service__item">
      <div class="service__icon">
        <img width="40" height="40" src="../../images/web-page.png" alt="folder">
      </div>
      <h3 class="service__title">Scraping</h3>
      <p class="service__text">Scraping sites, save data in databases or excel files</p>
    </li>
  </ul>
</section>
