<section class="intro">
    <div class="intro__inner">
        <div class="glide intro__slider">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Верстка</h1>
                            <p class="intro__text">
                                Адаптивная, кросбраузерная верстка макетов(дизайна) в высоко оптимизированный HTML CSS
                                JS код.
                                <br>
                                При верстке сайта я соблюдаю высокое качество кода благодоря css и js линтерам, которые
                                следят за красотой и изящьностью кода.
                                <br>
                                Весь код я разделяю на блоки, при помощи собрщиков(я использую gulp в связке с webpack),
                                использую препроцессоры и
                                шаблонизаторы. <br>
                                Учитывая все это мой код прост в поддержке и рефракторинге <br>
                                При сборке проекта код картинки и все составляющие проекта проходят этап сжатия и
                                оптимизации, что позволяет добиться быстрой скорости загрузки страницы
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/layout.png" alt="intro"></div>
                    </div>
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Серверное программирование</h1>
                            <p class="intro__text">
                                Back-end разработка с использование платформы Node.js вместе с фреймворком express.js,
                                <br>
                                Могу сделать обычный MVC сайт с рендеренгом шаблонов(используя ejs). <br>
                                REST api для Front-end приложения и коммуникации реального времени(например чат) используя Web sockets и socket.io
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/server.png" alt="intro"></div>
                    </div>
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Single Page Applications</h1>
                            <p class="intro__text">
                                Одностраничные приложения с использованием Vue.js, VueX и Vue router.
                                Соединение с собственным api и интеграция со сторонними сервисами. <br>
                                SRR(рендеринг на стороне сервера) реализую с помощью Nuxt.js
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/spa.png" alt="intro"></div>
                    </div>
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Парсинг сайтов</h1>
                            <p class="intro__text">
                                Парсинг данных с сайтов, сохранение полученной информации в ваших Базах данных, в Excel документах или json файлах
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/parser.png" alt="intro"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
