<section class="intro">
    <div class="intro__inner">
        <div class="glide intro__slider">
            <div class="glide__track" data-glide-el="track">
                <div class="glide__slides">
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Верстка</h1>
                            <p class="intro__text">
                                Adaptive, cross-browser-based layout (design) in highly optimized HTML CSS
                                JS code.
                                <br>
                                In the layout of the site I maintain high quality code thanks to css and js printers, which are
                                follow the beauty and elegance of the code.
                                <br>
                                Considering all this my code is easy to support and refractor. <br>
                                When assembling a project, the code of the image and all the components of the project pass through the compression stage.
                                optimization, which allows for fast page loading speed
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/layout.png" alt="intro"></div>
                    </div>
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">API development</h1>
                            <p class="intro__text">
                                Using Node Js platform together with Express Js framework,
                                <br>
                                I can make an ordinary MVC site with template rendering (using ejs). <br>
                                REST api for Front-end application and real-time communication (for example chat) using Web sockets and socket.io
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/server.png" alt="intro"></div>
                    </div>
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Single Page Applications</h1>
                            <p class="intro__text">
                                Single-page applications using VueJS, VueX and Vue router.
                                Connection to your own api and integration with third-party services. <br>
                                SRR (Server Side Rendering) is implemented using Nuxt Js
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/spa.png" alt="intro"></div>
                    </div>
                    <div class="glide__slide intro__item">
                        <div class="intro__content">
                            <h1 class="intro__title">Parsing data from websites</h1>
                            <p class="intro__text">
                                Parsing data from websites, saving the information received in your databases, in Excel documents or json files.
                            </p>
                        </div>
                        <div class="intro__img"><img src="../../images/parser.png" alt="intro"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
