.skills {
  padding: 60px 0;
  background-image: #{$main-gradient};

  &__inner {
    @extend %container;
  }

  &__item {
    font-family: Montserrat, sans-serif;
    color: #fff;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-family: Raleway, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    text-align: center;
  }

  &__item-title {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__bar {
    position: relative;
    height: 10px;
    border-radius: 10px;
    transition: 0.5s linear;

    &--finished {
      background-color: #382820;
    }
  }

  &__progress {
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
  }

  $i: 70;

  @while $i <= 100 {
    .percent#{$i} {
      .skills__progress {
        width: percentage($i / 100);
      }

      .skills__percent {
        left: percentage($i / 100);
      }
    }
    $i: $i + 5;
  }

  &__percent {
    $bg: $accent-color;

    position: absolute;
    top: -40px;
    padding: 5px;
    background-color: $bg;
    border-radius: 3px;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%);

    &--visible {
      opacity: 1;
    }

    &::after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 0;
      height: 0;
      content: '';
      border-top: 5px solid $bg;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 5px solid transparent;
      transform: translateX(-50%);
    }
  }
}
