<section class="skills">
    <div class="skills__inner">
        <h2 class="skills__title">Мои Навыки</h2>
        <ul class="skills__list">
            <li class="skills__item">
                <h3 class="skills__item-title">HTML</h3>
                <div class="skills__bar percent90">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">90%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">CSS</h3>
                <div class="skills__bar percent85">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">85%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">BEM</h3>
                <div class="skills__bar percent95">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">95%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">SASS/SCSS</h3>
                <div class="skills__bar percent80">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">80%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">GULP</h3>
                <div class="skills__bar percent90">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">90%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">JavaScript</h3>
                <div class="skills__bar percent90">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">90%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">Vue.js + Nuxt.js</h3>
                <div class="skills__bar percent95">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">95%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">Web pack</h3>
                <div class="skills__bar percent70">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">70%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">git</h3>
                <div class="skills__bar percent75">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">75%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">Node.js</h3>
                <div class="skills__bar percent80">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">80%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">Express.js</h3>
                <div class="skills__bar percent90">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">90%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">MongoDB</h3>
                <div class="skills__bar percent90">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">90%</div>
                </div>
            </li>
            <li class="skills__item">
                <h3 class="skills__item-title">Socket.io</h3>
                <div class="skills__bar percent70">
                    <div class="skills__progress"></div>
                    <div class="skills__percent">70%</div>
                </div>
            </li>
        </ul>
    </div>
</section>
