<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/portfolio.scss">
    <link rel="stylesheet" href="style/style.scss">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-300.woff2" as="font">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-500.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-600.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2" as="font">
    <title>Forum</title>
</head>
<body>
<%- include('blocks/portfolio/title/title.ejs', {text: "Clone of popular forum"}) %>

<%- include('blocks/hero/hero.ejs', {items: [
{title: "Board list", text: "", img: "./images/portfolio/2ch-1.png"},
{title: "Create treads", text: "", img: "./images/portfolio/2ch-2.png"},
{title: "Editing", text: "тредов и коментариев", img: "./images/portfolio/2ch-3.png"},
{title: "Form", text: "for creating treads and upload images", img: "./images/portfolio/2ch-4.png"},
{title: "Deleting", text: "treads and comments", img: "./images/portfolio/2ch-6.png"}
]}) %>

<%- include('blocks/portfolio/review/review.ejs', {
stats: [
{name: "type", value: "Web dev"},
{name: "Year of creation", value: "2020"},
{name: "Link to repo", value: '<a target="_blank" class="review__link" href="https://bit.ly/3og99Vs">https://bit.ly/3og99Vs</a>'},
{name: "Link", value: '<a target="_blank" class="review__link" href="https://bit.ly/2J31Yjt">https://bit.ly/2J31Yjt</a>'},
{name: "Technologies", value: '<a href="https://vuejs.org" target="_blank"><span class="review__skill">Vue.js</span></a><a href="https://socket.io/" target="_blank"><span class="review__skill">Socket.io</span></a><a href="https://expressjs.com/" target="_blank"><span class="review__skill">Express js</span></a><a href="https://jwt.io/" target="_blank"><span class="review__skill">JWT</span></a><a href="https://mongodb.com/" target="_blank"><span class="review__skill">MongoDB</span></a>'}
],
text: 'The goal of this project was to make a clone of the forum <a class="review__link" href="https://2ch.hk">2ch</a>, which is written in php and jQuery using more modern technologies. This task was done with the implementation of basic functionality. The qualitative difference of my clone is that all the changes made by the user occur to other users almost immediately without reloading the page.'
}) %>

<%- include('blocks/footer/footer.ejs') %>
<script defer src="js/vendor.js"></script>
<script defer src="js/portfolio.js"></script>
</body>
</html>
