<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/portfolio.scss">
    <link rel="stylesheet" href="style/style.scss">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-300.woff2" as="font">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-500.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-600.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2" as="font">
    <title>Anon chat</title>
</head>
<body>
<%- include('blocks/portfolio/title/title.ejs', {text: "Application for anonymous communication"}) %>
<%- include('blocks/hero/hero.ejs', {items: [
{title: "Main page", text: "Search for oppenent", img: "./images/portfolio/anon-1.png"},
{title: "2 design topics", text: "", img: "./images/portfolio/anon-2.png"},
{title: "Waiting", text: "If there is no suitable interlocutor, you can wait for him to come in.", img: "./images/portfolio/anon-3.png"}
]}) %>

<%- include('blocks/portfolio/review/review.ejs', {
stats: [
{name: "type", value: "Web dev"},
{name: "Year of creation", value: "2020"},
{name: "Link on repo", value: '<a target="_blank" class="review__link" href="https://bit.ly/3mhot2a">https://bit.ly/3mhot2a</a>'},
{name: "Link", value: '<a target="_blank" class="review__link" href="https://bit.ly/34jGffb">https://bit.ly/34jGffb</a>'},
{name: "Technologies", value: '<a href="https://vuejs.org/" target="_blank"><span class="review__skill">Vue.js</span></a><a href="https://nodejs.org/en/" target="_blank"><span class="review__skill">Node.js</span></a><a href="https://www.mongodb.com/" target="_blank"><span class="review__skill">Mongo DB</span></a><a href="https://socket.io/" target="_blank"><span class="review__skill">Socket IO</span></a><a target="_blank" href="https://animejs.com/"><span class="review__skill">Animate js</span></a>'}
],
text: "Chat for the selection of an anonymous interlocutor from the Internet and subsequent communication with him. You can choose an interlocutor by age and sex, as well as specifying your age and sex. The site has a function of switching to a dark topic. Data on correspondence is not saved anywhere, everything is deleted after you leave the chat. We have implemented the calculation of users online, and there are also the number of users who are in search."
}) %>

<%- include('blocks/footer/footer.ejs') %>
<script defer src="js/vendor.js"></script>
<script defer src="js/portfolio.js"></script>
</body>
</html>
