<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/portfolio.scss">
    <link rel="stylesheet" href="style/style.scss">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-300.woff2" as="font">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-500.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-600.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2" as="font">
    <title>Budget app</title>
</head>
<body>
<%- include('blocks/portfolio/title/title.ejs', {text: "Budget app"}) %>

<%- include('blocks/hero/hero.ejs', {items: [
{title: "Tracking", text: "income and outcome", img: "./images/portfolio/budget-1.png"},
{title: "History and Filtering", text: "", img: "./images/portfolio/budget-2.png"}
]}) %>

<%- include('blocks/portfolio/review/review.ejs', {
stats: [
{name: "type", value: "Front-end"},
{name: "Year of creation", value: "2019"},
{name: "Link to repo", value: '<a target="_blank" class="review__link" href="https://bit.ly/3og99Vs">https://bit.ly/3og99Vs</a>'},
{name: "Link", value: '<a target="_blank" class="review__link" href="https://bit.ly/3mmySdf">https://bit.ly/3mmySdf</a>'},
{name: "Technologies", value: '<a href="https://en.wikipedia.org/wiki/CSS" target="_blank"><span class="review__skill">CSS</span></a><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><span class="review__skill">JS</span></a><a href="https://vuejs.org/" target="_blank"><span class="review__skill">VueJS</span></a>'}
],
text: "Applications for maintaining revenues and expenses made on VueJS. You can lead your own bout and add a comment to each spend or earnings. There is filtering functionality available, based on income and expenses. The application calculates the user's current balance"
}) %>

<%- include('blocks/footer/footer.ejs') %>
<script defer src="js/vendor.js"></script>
<script defer src="js/portfolio.js"></script>
</body>
</html>
