<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/portfolio.scss">
    <link rel="stylesheet" href="style/style.scss">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-300.woff2" as="font">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-500.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-600.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2" as="font">
    <title>Cat Energy</title>
</head>
<body>
<%- include('blocks/portfolio/title/title.ejs', {text: "Site layout"}) %>
<%- include('blocks/hero/hero.ejs', {items: [
{title: "Главная", text: "", img: "./images/portfolio/cat-1.png"},
{title: "Page with the goods cathologist", text: "", img: "./images/portfolio/cat-2.png"},
{title: "Форма", text: "", img: "./images/portfolio/cat-3.png"},
{title: "Google page speed", text: "Mobile", img: "./images/portfolio/cat-4.png"},
{title: "Google page speed", text: "Desktop", img: "./images/portfolio/cat-5.png"},
]}) %>

<%- include('blocks/portfolio/review/review.ejs', {
stats: [
{name: "type", value: "Верстка"},
{name: "Year of creation", value: "2019"},
{name: "Link to repo", value: '<a target="_blank" class="review__link" href="https://bit.ly/2HawcR3">https://bit.ly/2HawcR3</a>'},
{name: "Link", value: '<a target="_blank" class="review__link" href="https://bit.ly/34g6seu">https://bit.ly/34g6seu</a>'},
{name: "Technologies", value: '<a href="https://gulpjs.com/" target="_blank"><span class="review__skill">Gulp</span></a><a href="https://ru.wikipedia.org/wiki/HTML" target="_blank"><span class="review__skill">HTML</span></a><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><span class="review__skill">JS</span></a><a href="https://sass-lang.com/" target="_blank"><span class="review__skill">SCSS</span></a><a target="_blank" href="https://animejs.com/"><span class="review__skill">Animate js</span></a>'}
],
text: "The project of the Internet store for the sale of cat food, the interface is simple and minimalistic, but it is not an easy task to make it up, you should pay attention to the rhytinization of images and adaptive layout."
}) %>

<%- include('blocks/footer/footer.ejs') %>
<script defer src="js/vendor.js"></script>
<script defer src="js/portfolio.js"></script>
</body>
</html>
