<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/portfolio.scss">
    <link rel="stylesheet" href="style/style.scss">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-300.woff2" as="font">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-500.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-600.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2" as="font">
    <title>Pink</title>
</head>
<body>
<%- include('blocks/portfolio/title/title.ejs', {text: "Site layout"}) %>

<%- include('blocks/hero/hero.ejs', {items: [
{title: "Main page", text: "", img: "./images/portfolio/pink-1.png"},
{title: "Main page", text: "", img: "./images/portfolio/pink-2.png"},
{title: "Form", text: "", img: "./images/portfolio/pink-3.png"},
{title: "Каталог", text: "", img: "./images/portfolio/pink-4.png"},
{title: "Google page speed", text: "mobile", img: "./images/portfolio/pink-5.png"},
{title: "Google page speed", text: "desktop", img: "./images/portfolio/pink-6.png"}
]}) %>

<%- include('blocks/portfolio/review/review.ejs', {
stats: [
{name: "type", value: "Верстка"},
{name: "Year of creation", value: "2020"},
{name: "Link to repo", value: '<a target="_blank" class="review__link" href="http://bit.ly/pink542">http://bit.ly/pink542</a>'},
{name: "Link", value: '<a target="_blank" class="review__link" href="http://bit.ly/pink475">http://bit.ly/pink475</a>'},
{name: "Technologies", value: '<a href="https://gulpjs.com/" target="_blank"><span class="review__skill">Gulp</span></a><a href="https://ru.wikipedia.org/wiki/HTML" target="_blank"><span class="review__skill">HTML</span></a><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><span class="review__skill">JS</span></a><a href="https://sass-lang.com/" target="_blank"><span class="review__skill">SCSS</span></a><a target="_blank" href="https://animejs.com/"><span class="review__skill">Animate js</span></a>'}
],
text: 'Site for mobile application, adaptive and cross-browser. High download speed, compressed images. All these are the strengths of this project. It is worth paying attention to retinitization of images'
}) %>

<%- include('blocks/footer/footer.ejs') %>
<script defer src="js/vendor.js"></script>
<script defer src="js/portfolio.js"></script>
</body>
</html>
