<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style/portfolio.scss">
    <link rel="stylesheet" href="style/style.scss">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-300.woff2" as="font">
    <link rel="preload" href="fonts/Montserrat/montserrat-v15-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-500.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-600.woff2" as="font">
    <link rel="preload" href="fonts/Raleway/raleway-v18-latin_cyrillic-regular.woff2" as="font">
    <link rel="preload" href="fonts/Roboto/roboto-v20-latin_cyrillic-regular.woff2" as="font">
    <title>Таймер для тренировок</title>
</head>
<body>
<%- include('blocks/portfolio/title/title.ejs', {text: "To Do list"}) %>

<%- include('blocks/hero/hero.ejs', {items: [
{title: "Структура задачи", text: "Заголовок и тело", img: "/images/portfolio/todo-1.png"},
{title: "Фильтрация задач", text: "По признаку их незавершенности", img: "/images/portfolio/todo-2.png"},
{title: "Сообщение", text: "О том, что задач более нет", img: "/images/portfolio/todo-3.png"}
]}) %>

<%- include('blocks/portfolio/review/review.ejs', {
stats: [
{name: "Направление", value: "Front-end"},
{name: "Год создания", value: "2019"},
{name: "Ссылка на Репозиторий", value: '<a target="_blank" class="review__link" href="https://bit.ly/34qUTkI">https://bit.ly/34qUTkI</a>'},
{name: "Ссылка", value: '<a target="_blank" class="review__link" href="https://bit.ly/2Hlyahz">https://bit.ly/2Hlyahz</a>'},
{name: "Технологии", value: '<a href="https://en.wikipedia.org/wiki/HTML" target="_blank"><span class="review__skill">HTML</span></a><a href="https://en.wikipedia.org/wiki/CSS" target="_blank"><span class="review__skill">CSS</span></a><a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank"><span class="review__skill">JS</span></a><a href="https://getbootstrap.com/" target="_blank"><span class="review__skill">Bootstrap</span></a>'}
],
text: "Пожалуй первый проект, который делает разработчик, когда выучит js, это ToDo лист. В моем ToDo есть функционал завершения задачи, а так же фильтрации по сему признаку. И сообщение о том, что задач, с указаным фильтром более нет, более нет. А так же 3 темы оформления. Я использовал bootstrap для оформления интерфейса"
}) %>

<%- include('blocks/footer/footer.ejs') %>
<script defer src="js/vendor.js"></script>
<script defer src="js/portfolio.js"></script>
</body>
</html>
