<header class="header">
    <div class="header__inner">
        <div class="header__logo">Егор Токарев</div>
        <nav class="header__navbar header__navbar--close">
            <div class="header__nav-closer">
                <img src="../../images/cross.svg" alt="cross">
            </div>
            <ul class="header__link-list">
                <li class="header__link"><a href="#hero">Начало</a></li>
                <li class="header__link"><a href="#about">Обо мне</a></li>
                <li class="header__link"><a href="#services">Услуги</a></li>
                <li class="header__link"><a href="#portfolio">Портфолио</a></li>
                <li class="header__link"><a href="#contact">Контакты</a></li>
            </ul>
        </nav>
        <div class="header__nav-opener">
            <img src="../../images/menu.svg" alt="menu">
        </div>
    </div>
</header>
