<header class="header">
    <div class="header__inner">
        <div class="header__logo">Egor Tokarev</div>
        <nav class="header__navbar header__navbar--close">
            <div class="header__nav-closer">
                <img src="../../images/cross.svg" alt="cross">
            </div>
            <ul class="header__link-list">
                <li class="header__link"><a href="#hero">Start</a></li>
                <li class="header__link"><a href="#about">About</a></li>
                <li class="header__link"><a href="#services">Services</a></li>
                <li class="header__link"><a href="#portfolio">Portfolio</a></li>
                <li class="header__link"><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="header__nav-opener">
            <img src="../../images/menu.svg" alt="menu">
        </div>
    </div>
</header>
